body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  overflow: hidden;
  color: black;
}
a {
  cursor: pointer;
}
#topnav{
  display: none;
  width:100%;
  height: 75px;
  z-index: 3;
  position: fixed;
  margin-top: 50px;
  border-top: 5px solid #b3a36b;
  border-bottom: 5px solid #b3a36b;
  background-color: #380e18;
}
#topnav nav{
  width: 960px;
  margin:22px auto;
}
#side {
  width: 960px;
  margin:0 auto;
}
#side div{
  width: 230px;
  height: 100%;
  z-index: 1;
  -webkit-box-shadow: 5px 0px 80px #666666;
  -moz-box-shadow: 3px 2px 6px #333333;
  border-right: 5px solid #b3a36b;
  border-left: 5px solid #b3a36b;
  background-color: #380e18;
  margin-left: 25px;
  position: fixed;
}
.sub{
  background-image: url(../pic/bak.png)
}
.container {
  position: absolute;
  width: 960px;
  margin: 180px auto 0 auto;
}
#main .sub .row:before,
#main .sub .row:after,
.clear:before,
.clear:after,
.container:before,
.container:after {
  content: '.';
  visibility: hidden;
  line-height: 0;
  height: 0;
  display: block;
}
#main .sub .row:after,
.clear:after,
.container:after {
  clear: both;
}
#main .sub {
  position: absolute;
  width: 20000px;
}
#main .sub .direction-nav > a {
  position: absolute;
  top: 380px;
  font-size: 2em;
  color: black;
  text-decoration: none;
}
#mainpage .container {
  margin-top:30px;
}
#sidenav{
  width: 210px;
  margin:60px 0 0 40px;
  z-index: 2;
  position: fixed;
}
#logo{
  margin-bottom: 20px;
}
#sidenav a{
  float: left;
  margin:20px 0 0 30px;
}
#sidenav a.navtomain{
  display: none;
}
#sidenav nav{
  border-top: 1px solid #b3a36b;
}
#arch{
  margin: 40px 0 0 100px;
}
footer {
  float:left;
  width: 960px;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
  margin-left: 160px
}
.left{
  float: left;
}
.subsidenav {
  width: 450px;
  margin:30px 0 0 35px;
}
.subsidenav a {
  float: left;
  margin:20px 0 0 155px;
}
.subsidenav nav {
  width: 150px;
}
#dreamlife .subsidenav nav{
  width:450px;
}
#dreamlife .subsidenav a {
  margin-left: 50px;
}
#wine {
  margin-left: 550px
}
.cgallery{
  margin-left: 50px;
}
#vip{
  margin: 210px 0 0 450px;
}
#map{
  width: 660px;
  height: 400px;
}